---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
	<a href="/sign-in" class="text-pink-500 m-5">Create account</a>
	<a href="/404" class="text-pink-500 m-5">Error Page 404</a>
</Layout>
